@import '~variables.scss';

$header-height: 75px;
$filter-panel-width: 225px;

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.HeaderToolbar {
  height: $header-height;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.FilterPanel {
  min-width: $filter-panel-width;
  max-width: $filter-panel-width;
}


.ShoppingCartPreview {
  position: absolute;
  top: calc(#{$header-height}/1.5);
  right: 25px;
}

.ProductPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.application-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: calc(100% - #{$header-height});
  width: 100%;
}
