$primary-background-color: rgb(220, 50, 78);
$alternate-background-color: white;
$primary-border-color: rgb(200,200,200);
$alternate-text-color: rgb(50,50,50);
$transparent-box-shadow: rgb(250,250,250);
