.preview-panel {
    background-color: rgb(250,250,250);
    min-width: 30%;
    max-width: 30%;
    height: 50%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
}

.preview-panel > * {
    align-self: center;
    // border: 1px dotted red;
}

.cost-section,
.checkout-section {
    flex-basis: 18%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.bold-text {
    font-weight: bold;
}

.cost-section {
    border-bottom: 1px solid black;
}

.item-list {
    flex: 0 1 56%;
    max-height: 56%;
    overflow-y: auto;
    width: 100%;
}

.CartItem {
    height: 40%;
    margin-bottom: 2%;
}

.submit-button {
    margin: auto;
    background-color: rgba($color: #FF1111, $alpha: 0.6);
    color: white;
    height: 80%;
}

