@import "~variables.scss";

.HeaderToolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0;
    top: 0;
    position: sticky;
    background-color: $primary-background-color;
    justify-content: space-between;
    height: 100%;
}

.HeaderToolbar-shopping-cart {
    align-self: center;
    height: 80%;
    padding-right: 10px;
}

.HeaderToolbar-shopping-cart-svg {
    height: 100%;
    width: auto;
}

.HeaderToolbar-title {
    flex-basis: 15%;
    color: white;
    text-align: center;
    font-size: 40px;
    align-self: center;
    border: 2.5px dashed $alternate-background-color;
    height: 93%;
}