@import "~variables.scss";

.header-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0;
    top: 0;
    position: sticky;
    background-color: $primary-background-color;
    justify-content: flex-end;
    height: 100%;
}

.shopping-cart {
    align-self: center;
    margin-right: 2rem;
}

.shopping-cart > i {
    font-size: 2.5rem;
}

.shopping-cart-svg {
    height: auto;
    width: 75px;
    background-color: white;
}