@import "~variables.scss";

.cost-section,
.checkout-section {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-bottom: 10px;
}

.bold-text {
    font-weight: bold;
}

.cost-section {
    border-bottom: 1px solid $cart-border-color;
    box-shadow: 0 25px 25px 2px $transparent-box-shadow;
    position: relative;
    z-index: 1;
}

.item-list {
    flex: 0 1 56%;
    max-height: 56%;
    overflow-y: overlay;
    width: 100%;
    z-index: 0;
    padding: 10px 0;
}

.CartItem {
    height: 88px;
    margin-bottom: 2%;
}

.submit-button {
    margin: auto;
    background-color: $primary-background-color;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 -6px 16px 10px $transparent-box-shadow;
    position: relative;
}

