@import '~variables.scss';

.empty-cart-message {
    font-weight: bold;
    font-size: 150%;
    flex-basis: 40%;
    text-align: center;
}

.empty-cart {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
}

.shopping-button {
    margin: auto;
    flex-basis: 60%;
    width: 80%;
}
