@import "~variables.scss";

.CartItem {
    width: 80%;
    height: 100%;
    border: .5px solid $cart-border-color;
    margin: auto;
    position: relative;
    overflow: auto;
    border-radius: 6px;
}

.image-container {
    float: left;
    width: 30%;
    height: 75%;
    padding: 10px;
}

.image {
    object-position: 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.close-button {
    position: absolute;
    top: -1px;
    right: 6px;
    color: $alt-text-color;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    cursor: pointer;
}

.section {
    margin: 5.5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price,
.quantity {
    font-weight: bold;
}

.quantity {
    margin-right: 3px;
}

.specs > *:not(.quantity) {
    font-size: .8rem;
    font-weight: 300;
    color: $alt-text-color;
}