.CartItem {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
    position: relative;
    overflow: auto;
}

.image-container {
    float: left;
    width: 30%;
    height: 75%;
    padding: 10px;
}

.image {
    object-position: 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.close-button {
    position: absolute;
    top: -2px;
    right: 3px;
}

.section {
    margin: 5.5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price,
.quantity {
    font-weight: bold;
}

.quantity {
    margin-right: 3px;
}

.specs > *:not(.quantity) {
    font-size: .8rem;
    font-weight: 300;
    color: rgb(50,50,50)
}